.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgb(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .Navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .Sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }

    hr {
      border-color: #333;
    }

    .center {
      ul {
        li {
          &:hover {
            background-color: #333;
          }

          .icon {
            color: #999;
          }
        }
      }
    }
  }

  .DataTable {
    .datagrid {
      color: gray;
      border: none;

      .MuiTablePagination-root {
        color: gray;
      }

      .viewButton,
      .deleteButton,
      .cellWidthStatus {
        color: gray;
        border: none;
      }
    }
  }

  .New {
    input {
      background-color: transparent;
    }
  }
}
